<app-project-scaffold
  title="circus magazine"
  tagline="Un'analisi sulla contemporaneità attraverso l'editoria cartacea e digitale"
  subtitle="Digital magazine"
  body="CIRCUS è un progetto editoriale e digitale che riflette sul modo in cui oggi osserviamo e consumiamo immagini. Accanto alla rivista, lo sviluppo di un sito web come estensione digitale del progetto, che non replica la rivista cartacea, ma la amplia, offrendo nuovi modi di fruizione e interazione. Instagram di CIRCUS è pensato come estensione dinamica del progetto digitale. Non è solo uno strumento promozionale, ma uno spazio editoriale che traduce il linguaggio del magazine in un flusso visivo continuo. Attraverso post, caroselli e storie, i contenuti vengono sintetizzati, approfonditi e resi più accessibili, mantenendo coerenza con l'identità visiva del brand. Instagram diventa così un punto di contatto diretto con un pubblico più ampio e giovane, stimolando curiosità e invitando l'utente a esplorare il sito per un'esperienza più completa."
  hero="circus-1.jpg"
  [grid]="['circus-2.jpg','circus-3.png','circus-4.jpg']"
/>
