<app-project-scaffold
  title="circus magazine"
  tagline="Un'analisi sulla contemporaneità attraverso l'editoria cartacea e digitale"
  subtitle="Digital magazine"
  body="CIRCUS è un progetto editoriale che riflette sul modo in cui oggi osserviamo e consumiamo immagini. Accanto alla rivista, lo sviluppo di un sito web come estensione digitale del progetto, che non replica la rivista cartacea, ma la amplia, offrendo nuovi modi di fruizione e interazione. Il sito nasce come una rivista digitale, ma si evolve in una piattaforma più ampia che integra contenuti editoriali, un community hub e uno shop. L'obiettivo è creare uno spazio fluido in cui l'utente non si limita a navigare, ma esplora e approfondisce i contenuti in modo naturale."
  hero="circus-4.jpg"
  [grid]="['circus-3.png','circus-2.jpg','circus-1.jpg']"
  [layout]="['span 6','span 3','span 3']"
/>
