<app-project-scaffold
  title="L'IA e la società moderna"
  subtitle="Information design"
  body="Questo progetto nasce dalla rielaborazione digitale di un lavoro cartaceo dedicato alle grandi innovazioni del XX secolo. Il sito web approfondisce l'evoluzione dell'IA, considerata la principale forza trainante del progresso nel XXI secolo, con l'obiettivo di informare e sensibilizzare il pubblico sul suo impatto sociale e tecnologico."
  hero="ia-3fd2d896b0ee.jpg"
  [grid]="['ia-74a77be12b7d.jpg','ia-2c198d8faa22.jpg','ia-fc6d5b063910.png']"
  back="design"/>
