<app-project-scaffold
  title="riga"
  tagline="The shape of tomorrow."
  subtitle="Digital city branding"
  body="Il progetto di city branding per Riga traduce il concept del caleidoscopio in un sistema dinamico e riconoscibile, dove forme e colori si trasformano per riflettere l'energia di Riga. Attraverso format flessibili e contenuti visivi in movimento, i canali raccontano le diverse anime della città, tra storia e contemporaneità, creando una narrazione coerente ma sempre in evoluzione. Il risultato è una presenza social viva e coinvolgente, capace di esprimere il continuo rinnovamento di Riga."
  hero="riga-2.jpg"
  [grid]="['riga-1.jpg','riga-3.png']"
  [layout]="['span 3','span 3']"
/>
