<app-project-scaffold
  title="ada festival"
  subtitle="Festival rebranding"
  body="Il progetto di rebranding di Villa Ada Festival nasce con l'obiettivo di rafforzarne l'identità e consolidarne la presenza presso il pubblico, attraverso un'immagine che trae ispirazione dalla natura, dalla luce calda del sole e dal cielo intenso delle notti estive, evocando la sua atmosfera autentica e vibrante."
  hero="ada-5.jpg"
  [grid]="['ada-6.png','ada-1.jpg','ada-2.jpg','ada-3.jpg','ada-4.jpg']"
  back="brand"/>
