.card-wrapper {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 1s ease, transform 1s cubic-bezier(.2,.8,.2,1);
}
.card-wrapper.visible {
  opacity: 1;
  transform: translateY(0);
}
.card-btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: none;
  width: 100%;
  text-align: left;
}
.card-image {
  width: 100%;
  aspect-ratio: 1647/824;
  border-radius: 20px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.card-info {
  margin-top: 22px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.card-title {
  font-family: Inter, system-ui;
  font-weight: 400;
  font-size: clamp(14px, 1.25vw, 24px);
  line-height: 1.21;
  color: #2E343C;
}
.card-desc {
  margin-top: 0;
  font-family: Inter, system-ui;
  font-weight: 300;
  font-size: clamp(14px, 1.25vw, 24px);
  line-height: 1.21;
  color: #2E343C;
  text-align: right;
}
