<footer>
  <div class="top-grid">
    <div class="contact-left">
      <div>JEIDICLEMENTE&#64;GMAIL.COM</div>
      <div>+39 342 524 6479</div>
    </div>
    <div class="contact-center">
      <div>ROMA</div>
      <div>P. IVA 18469441002</div>
    </div>
    <div class="contact-right">
      <div class="social-row">
        <img src="ig-jeidiclemente.png" alt="Instagram Jeidi Clemente"/>
        <span>JEIDICLEMENTE</span>
      </div>
      <div class="social-row">
        <img src="ig-jeidirphoto.png" alt="Instagram Jeidi Photo"/>
        <span>JEIDIRPHOTO</span>
      </div>
    </div>
  </div>
  <div class="name-row">
    <span class="name-big">Jeidi</span>
    <span class="name-big">Clemente</span>
  </div>
</footer>
